<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <!-- Random Image -->
    <img>
    <!-- Form action -->
    <form action="/submit-answer" method="POST">
        <p>User_Name <input type="text" name="name" placeholder="Enter your username" /></p>
        <p>Answer <input type="text" name="answer" placeholder="Enter your best guess" /></p>
        <p><input type="submit" value="submit" /></p>
    </form>
</body>

</html>