<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>
        Insert_game_name_here
    </h1>
    <p>
        <h2>Instructions: </h2>
        <ul>
            <li></li>
        </ul>
    </p>
    <form action="/gamePage">
        <input type="submit" value="Go to Game Page" />
    </form>
</body>

</html>